/.vscode
vector_texts.pkl
vector_index.bin
/generated_audio
vector_index.bin
vector_texts.pkl
vector_texts.pkl
vector_index.bin
vector_texts.pkl
vector_index.bin
/src/generated_audio
src/config/config.json
src/reference_audio/audio_info.json
